# MkDocs build output
/site/

# LaTeX build output
/main.aux
/main.bbl
/main.blg
/main.fdb_latexmk
/main.fls
/main.log
/main.out
/main.pdf
/main.toc
/latexmk_stdout.log

# OS/editor noise
.DS_Store
Thumbs.db
.vscode/
.idea/
